<%= link_to 'Edit kitten', edit_kitten_path %>
<%= link_to 'Delete kitten', kitten_path, data: { turbo_method: :delete } %>
<div>
  <div>
    Name:
    <%= @kitten.name %>
  </div>
  <div>
    Age:
    <%= @kitten.age %>
  </div>
  <div>
    Cuteness:
    <%= @kitten.cuteness %>/5
  </div>
  <div>
    Softness:
    <%= @kitten.softness %>/5
  </div>
</div>